.tag {    
    margin-top: 1rem;
    background-color: lightgreen;
    color: white;
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    
}

.css {
    background-color: lightblue;
}

.js {
    background-color: lightcoral;
}

.php {
    background-color: lightsalmon;
}